.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0.5em;
    text-align: center;
  }
  
  h1 {
    font-size: 2em;
    margin-top: 0;
    text-align: center;
    color: #8B4513;
  }
  
  canvas {
    display: block;
    margin: 0 auto;
    background-color: #000;
    border-radius: 10px;
    border: 10px solid pink;
  }

  #clearBtn {
    font-size: 1.25em;
    position: absolute;
    top: 1em;
    right: 1.5em;
  }